* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #020617, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PLAYER CARD */
.player {
    background: white;
    width: 320px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    animation: float 3s ease-in-out infinite;
}

/* FLOATING ANIMATION */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

/* ALBUM */
.album {
    width: 180px;
    height: 180px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 6s linear infinite;
}

.album img {
    width: 100%;
    height: 100%;
}

/* ROTATION */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.song {
    font-weight: bold;
}

.artist {
    font-size: 14px;
    color: gray;
}

/* CONTROLS */
.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #1e293b;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px #4f46e5;
}

.play {
    background: #4f46e5;
}

/* RESPONSIVE */
@media (max-width: 400px) {
    .player {
        width: 90%;
    }
}
